@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight:400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --main-bg-color: #fff;
    --main-text-color: #cc9933;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;;
    font-weight: normal;
    background-color: #f1f1f1;
    
}

.container {
    max-width: 1200px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

a  {
text-decoration: none;
color: inherit;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 16px;
}

.logo {
    width: 260px;
    height: 50px;
}

.phone {
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 25px;
    color: #666666;
}

.personal {
    color: #c49c4d;
    font-size: 16px;
}

.personal-arrow {
    width: 20px;
    height: 12px;
    background-image: url(../img/keyboard_tab.png);
    color: #c49c4d;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.ul-list {
  font-size: 16px;
  display: flex;   
  flex-direction: row;
  background-color: var(--main-bg-color);
  align-items: center;
  border-radius: 10px;
  min-height: 70px;
  list-style-type: none;
}

.nav-list{
  margin-right: 40px;
  transition: color 0.2s ease;
}

.nav-list:hover {
    color: var(--main-text-color);
}  

.li-list {
    margin-left: 20px;
}

.form-search{
    margin-left: 140px;
}  
    
.nav-search {
    font-size: 14px;
    color: #c7c7c7;
    border: none;
    margin-top: 5px;
    outline: none;
}  

.search-button{
    width: 22px;
    height: 22px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    background-position: right;
    border: none;
    margin-left: 120px;
    cursor: pointer;
}

.search-button:hover{
transform: scaleY(1.2);
}

.title2 {
    font-size: 40px;
    font-weight: normal;
    color: #333333;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 60px;
}

.section-hero {
    display: flex; 
    justify-content: space-between; 
}


.reservation {
    display: flex; 
    flex-direction: column;
    width: 518px;
    height: 540px;
}
  
.form-reservation {
    border-radius: 10px;
    border: 1px #ffffff;
    background-color: var(--main-bg-color);
    width: 518px;
    line-height: 70px;
    padding-left: 20px;
    margin-bottom: 22px;
}

.btn-hero {
    width: 160px;
    height: 70px;
    font-weight: bold;
    color: #ffff;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px #cc9933;
    background-color: #cc9933; 
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer; 
}

.btn-hero:hover{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transform: translateX(5px);
}

.counter {
    font-size: 16px;
    color: var(--main-text-color);
}

.section-hero-content{
    height: 530px;
    width: 570px;
    background-image: url(../img/22.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 100%;
    padding-left: 40px; 
}

.lux {
    font-size: 66px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 235px;
    padding-left: 40px;
}

.price {
    font-size: 35px;
    color: #868482;
    padding-left: 40px;
    padding-top: 20px;
}

.more {
    font-size: 16px;
    color: var(--main-text-color);
    padding-left: 40px;
    background-image: url(../img/Прямоугольник\ 2\ копия\ 7.png); 
    background-repeat: no-repeat; 
    background-position: right;
    padding-right: 15px;
    transition: color 0.3s ease;
}

.more:hover {
   color: #fff;
}

.text{
    font-size: 16px;
    font-weight: 400;
    color: #797979;
    line-height: 32px;
    padding-right: 220px;
    margin-left: 60px;
}

.title3 {
    padding-top: 200px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: var(--main-text-color);
}

.title-service {
    font-size: 22px;
    color: var(--main-text-color);
    background-image: url(../img/Прямоугольник\ 2\ копия\ 7.png);
    background-repeat: no-repeat; 
    background-position: right;
    padding-right: 15px;
    transition: 0.3s ease;
}

.title-service:hover {
    font-size: 25px;
}
    
.text-service {
    font-size: 16px;
    color: #333333;
    line-height: 32px;
    padding: 0 130px 30px 40px;
}

.li-service {
    padding-bottom: 20px;
    border-radius: 10px;
}

.service-one {
    background-color: var(--main-bg-color);
    background-image: url(../img/10.jpg);
    background-repeat: no-repeat; 
    border-radius: 10px;
}

.service-two {
    background-color: var(--main-bg-color);
    background-image: url(../img/15.jpg);
    background-repeat: no-repeat; 
    border-radius: 10px;
}

.service-three {
    background-color: var(--main-bg-color);
    background-image: url(../img/12.jpg);
    background-repeat: no-repeat; 
    border-radius: 10px;
}

.service-four {
    background-color: var(--main-bg-color);
    background-image: url(../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
    background-repeat: no-repeat; 
    border-radius: 10px;
}
.advantages {
    max-width: 1170px;
    height: 570px;
    margin-bottom: 120px;
}

.ul-advantages {
    padding-bottom: 20px;
}
   
.li-advantages1,
.li-advantages2,
.li-advantages3,
.li-advantages4,
.li-advantages5,
.li-advantages6,
.li-advantages7,
.li-advantages8 {
    width: 275px;
    height: 275px;
    background-size: 60px 60px;
    background-position: top 40px right 150px;
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 40px 45px 40px 40px;
}

.li-advantages1{
    background-image: url(../img/bathtub.svg);
}

.li-advantages2 {
    background-image: url(../img/hanger.svg);
}

.li-advantages3 {
    background-image: url(../img/heating.svg);
}

.li-advantages4 {
    background-image: url(../img/hotel-key.svg);
}

.li-advantages5 {
    background-image: url(../img/parking.svg);
}

.li-advantages6 {
    background-image: url(../img/reception.svg);
}

.li-advantages7 {
    background-image: url(../img/security-box.svg);
}   

.li-advantages8 {
    background-image: url(../img/swimming-pool.svg);
}

.text-advantages  {
    font-weight: 400;
    color: #333333;
    line-height: 32px;
    padding-top: 70px;
}

.placing {
    width: 1170px ;
}
.ul-placing {
    padding-bottom: 20px;
}

.price-star {
    padding-top: 250px;
    padding-left: 40px;
    padding-bottom: 20px;

}
.star {
    font-size: 16px;
    padding-top: 250px;
    padding-left: 40px;
}

.title-price-star {
    padding-left: 40px;
}

.price-star1,
.price-star2,
.price-star3,
.price-star4,
.price-star5,
.price-star6,
.price-star7,
.price-star8 {
    width: 370px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    border-radius: 10px; 
} 

.price-star1 {
    background-image: url(../img/23.jpg);
}

.price-star2 {
    background-image: url(../img/24.jpg);
}

 .price-star3 {
    background-image: url(../img/26.jpg);
 }

 .price-star4  {
    background-image: url(../img/29.jpg);
 }

 .price-star5{
    background-image: url(../img/30.jpg);
}

 .price-star6 {
    background-image: url(../img/31.jpg);
}   

 .price-star7 {
    background-image: url(../img/27.jpg);
}

 .price-star8 {
    background-image: url(../img/29.jpg);
}

 .price-star9 {
    display: flex;
    align-items: flex-end;
    width: 33%;
    background-image: url(../img/41.jpg);
    background-repeat: no-repeat;
    border-radius: 10px; 
    height: 430px;
    width: 370px;
    position: relative;
}

.exile-placing {
    font-weight: 600;
    color: #4e4e4e;
    padding-bottom: 20px;
    transition: color 0.3s ease;
    position: absolute;
}

.exile-placing:hover {
    color: var(--main-text-color);
}

.price-placing {
   font-size: 16px;
    color: #c0c0c0;
}
   
.price-placing1 {
    font-size: 20px;
    font-weight: 800;
    color: #333333;
}

.price-placing2{
    font-size: 16px;
    color: #333333;
}


.button-placing {
    height: 30px;
    width: 100px; 
    font-weight: 600;
    color: var(--main-text-color); 
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border: solid 1px #cc9933;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.button-placing:hover{
    color: #ffff;
    background-color: #cc9933;
    transform: translateX(5px);
}

.title-placing {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 20px;
}

.text-placing {
    font-size: 16px;
    color: #c0c0c0;
    line-height: 15px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.variants {
    color: #fff;
    font-size: 22px;
    background-image: url(../img/Прямоугольник\ 2\ копия\ 16.png);
    background-repeat: no-repeat;
    background-position: bottom 50px right 0;
    padding: 360px 15px 50px 40px;
    display: block;
    height: 100%;
    position: absolute;
}

.variants:hover {
    color: #cc9933;
    position: absolute;
} 

.contacts {
    width: 1168px;
    height: 619px;
    display: flex;
    flex-direction: column;
}

.contacts-centre {
    width: 1170px;
    height: 620px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

.contacts-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.contacts-left-item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    padding-top: 45px;
    margin-left: 40px;
    margin-right: 60px;
}

.contacts-left-title{
    font-size: 22px;
    color: #666;
}

.contacts-address {
    font-style: normal;
    font-size: 16px;
    color: #414141;
    margin-left: 80px;
    margin-bottom: 25px;
}

.contacts-tel{
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 110px;
    margin-bottom: 25px;
}

.contacts-email {
    width: 230px;
    line-height: 23px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.contacts-graph{
    font-size: 16px;
    color: #414141;
    margin-left: 70px;
    margin-right: 70px;  
    margin-bottom: 20px;
}

.email-questios {
    font-size: 16px;
    color: var(--main-text-color);
}

.contacts-email-questios {
    font-size: 16px;
    color: #999;
}

.title-contacts{
    font-size: 40px;
    font-weight: normal;
    color: #333333;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 60px
}

.button-route {
font-size: 16px;
font-weight: 600;    
border-radius: 10px;
border: solid 1px #cc9933;
color: var(--main-text-color); 
background-color: var(--main-bg-color);  
width: 210px;
min-height: 70px;
margin-bottom: 40px;
margin-left: 50px;
transition-property: background-color, color;
transition-duration: 0.3s;
transition-timing-function: ease;
cursor: pointer;
}

.button-route:hover{
    color: #fff;
    background-color: #cc9933;
    transform: scale(1.1, 1.0);
}

.contacts-right {
    width: 630px;
    height: 430px;
}

.input-name {
    min-width: 303px;
    height: 70px;
    font-size: 16px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px  #f1f1f1;
    padding-left: 20px;
    margin-bottom: 20px;
}

.input-phone {
    min-width: 303px;
    height: 70px;
    font-size: 16px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px  #f1f1f1;
    padding-left: 20px;
    margin-left: 18px;
    margin-bottom: 20px;
}

.input-text {
     width: 630px;
    height: 219px;
    font-size: 16px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px  #f1f1f1;
    padding-left: 20px;
    padding-bottom: 180px;
}

.consent {
    font-size: 16px;
    line-height: 24px;
    color: #c2c2c2;
    margin-top: 25px;
}
.con-policy {
    color: #cc9933;
}
 
.con-policy:hover {
    color: #000;
}

.button-contacts {
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    border-radius: 10px;
    border: 1px #cc9933;
    background-color: #cc9933;
    width: 340px;
    height: 70px;
    margin-top: 30px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.button-contacts:hover{          
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
   transform: translate(-0.5px, 0.5px);
}

.footer {
    margin-top: 140px;
    padding-top: 45px;
    min-width: 1168px;
    height: 338px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 300px;
    margin-left: 50px;
    margin-right: 120px;
}

.footer-copyrights {
    font-size: 16px;
    line-height: 32px;
    color: #ffff;
    margin-bottom: 40px;
}

.footer-text {
    font-size: 16px;
    line-height: 32px;
    color: #ffff;
}

.footer-consent {
    color: var(--main-text-color);
    margin-top: 40px;
}

.footer-consent:hover {
    color: #fff;
    transform:skewX(20deg);
}

.footer-centre {
   width: 530px;
   background-image: url(../img/Слой\ 27\ копия.png);
   background-repeat: no-repeat;
   background-position-y: 70px;
   background-position-x: 260px;
}

.footer-address{
    font-style: normal;
    color: #fff;
    margin-bottom: 40px;
}

.footer-tel {
    color: #cc9933;
    display: flex;
    flex-direction: column;
    line-height: 29px;
    margin-bottom: 30px;
}

.footer-email{
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    line-height: 29px; 
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.footer-social-item {
    margin-bottom: 25px;
}

.footer-social-item:last-child {
    margin-bottom: 0;
}

.footer-social-link {
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: transform .5s ease;
}

.footer-social-link:hover {
    transform: scale(1.1, 1.1);
}
.tripadvisor {
    background-image: url('../img/tripadvisor.svg');
    
}

.twitter {
    background-image: url('../img/twitter.svg');
}

.facebook {
    background-image: url('../img/facebook.svg');
}

.vk {
    background-image: url('../img/social.svg');
}

.google {
    background-image: url('../img/google-plus-social-logotype.svg');
}

.section-publication {
    margin-bottom: 90px;
    padding-top: 48px;
    padding-bottom: 53px;
    background: url('../img/pblfon.jpg') no-repeat center;
    background-size: cover;
  }
  
  .section-publication__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 5px;
    color: var(--main-header-color);
  }
  
  .section-publication__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--main-header-color);
  }
  
  .publication__container__checkbox {
    font-size: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }
  
  .publication__container__check {
    margin-right: 175px;
  }
  
  .checkbox-subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    padding-left: 2px;
    margin-bottom: 1px;
    color: black;
  }
  
  .container__checkbox {
    position: relative;
    padding-left: 22px;
    padding-right: 32px;
    cursor: pointer;
  }
  
  .publication-check__text {
    color: black;
  }
  
  .check {
    display: none;
  }
  
  .check + .publication-check {
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid black;
  }
  
  .check + .publication-check::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 2px;
    opacity: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: violet;
  }
  
  .check:checked + .publication-check::before {
    opacity: 1;
  }
  
  .check:checked + .publication-check  {
    border: 1px solid  violet;
  
  }
  
  .check:checked ~ .publication-check__text {
    color: violet;
  }
  
  .publication__container-check-price {
    border-radius: 6px;
    color: black;
  }
  
  .check-input-price {
    width: 277px;
    border: 1px solid black);
    border-radius: 6px;
    margin-top: 12px;
  }
  
  .label-from, .label-to {
    width: 34px;
    color: var(--main-header-color);
  }
  
  .label-from, .label-to, .label-price-to {
    display: inline-block;
    text-align: center;
    color: var(--main-header-color);
  }
  
  .check-price-from, .check-price-to {
    width: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: var(--main-header-color);
    background-color: var(--focus-color);
  }
  
  .check-price-from::placeholder,
  .check-price-to::placeholder {
    color:  var(--main-header-color);
  }
  
  .label-price-to {
    width: 45px;
  }
  
  .publication__swiper-container {
    padding-top: 65px;
  }
  
  .publication__swiper_pagination {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: var(--main-header-color);
    bottom: 8px;
    padding: 0 14px;
    margin-bottom: 22px;
  }
  
  .publication__swiper-button-prev{
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    border: none;
    background: url('../img/_.png') no-repeat;
    background-size: cover;
  }
  
  .publication__swiper-button-prev:hover {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    border: none;
    background: url('../img/Group\ 21\ \(1\).png') no-repeat;
    background-size: cover;
  }
  
  .publication__swiper-button-prev:focus {
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    border: none;
    background: url('../img/Group\ 21.png') no-repeat;
    background-size: cover;
  }
  
  .publication__swiper-button-next {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    border: none;
    background: url('../img/_.png') no-repeat;
    background-size: cover;
  }
  
  .publication__swiper-button-next:hover {
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    border: none;
    background: url('../img/Group\ 21\ \(1\).png') no-repeat;
    background-size: cover;
  }
  
  .publication__swiper-button-next:focus {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    border: none;
    background: url('../img/Group\ 21.png') no-repeat;
    background-size: cover;
  }
  
  .publication-subtitle  {
   font-weight: bold;
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 0;
  }
  
  .publication-art {
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   margin-top: 0;
   margin-bottom: 12px;
  }
  
  .publication-cards__content {
    display: flex;
    justify-content: space-between;
  }
  
  .publication-price {
    font-style: italic;
    padding-top: 20px;
  }
  
  .publication-cards__btn {
    padding: 7px 22px;
    color: black;
    background-color: inherit;
    border-radius: 40px;
    border-color: violet;
  }
  
  @media (max-width: 1024px) {
    .section-publication {
      padding-bottom: 78px
    }
  
   .publication__container__check {
      width: 753px;
      padding-left: 33px;
      margin-right: 20px;
    }
  
    .publication-cards__img {
      width: 290px;
    }
  
    .publication__swiper-container {
      padding-right: 20px;
    }
  
    .publication-cards__content {
      margin-top: -11px;
    }
  
    .publication-price {
     margin-right: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .section-publication {
      padding-right: 30px;
      padding-bottom: 57px;
   }
  
   .section-publication__container {
      display: block;
   }
  
   .publication__container__check {
     margin-right: 0px;
   }
  
   .publication__container__checkbox {
     flex-wrap: wrap;
     max-height: 150px;
   }
  
   .check-price-from, .check-price-to {
     padding-bottom: 8px;
   }
  
  .publication__swiper-container {
     padding-left: 36px;
     padding-top: 48px;
     padding-right: 56px;
    }
  
    .publication {
      padding-left: 26px;
    }
  
    .swiper-slide {
      margin-right: 0px;
    }
  
    .publication-art {
      line-height: 20px;
    }
  
   .publication-cards__content {
      margin-bottom: 5px;
    }
  }
  
  @media (max-width: 767px) {
   .publication__container__checkbox {
      max-height: inherit;
    }
  }
  
  @media (max-width: 540px) {
    .publication-cards__img {
      width: 200px;
    }
  }
  
  @media (max-width: 414px) {
    .section-publication__title {
      font-size: 38px;
  }
  
  .publication-cards__img {
    width: 130px;
  }
  
  .publication-subtitle,
  .publication-art,
  .publication-price {
    font-size: 12px;
  }
  
   .publication-cards__content {
    display: block;
   }
  
  }
  
  @media (max-width: 320px) {
    .section-publication__container {
      padding: 0 !important;
    }
    .section-publication__title {
      font-size: 28px;
      line-height: 38px;
    }
  
    .section-publication {
      padding: 0;
    }
  
    .publication__container__check {
      padding-top: 26px;
      padding-left: 12px;
    }
  
    .checkbox-subtitle {
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
    width: 39%;
    background: url('../img/Rectangle\ 67.png') no-repeat;
    background-position: right center;
    }
  
    .checkbox-subtitle.active {
      background: url('../img/Rectangle\ 54.png') no-repeat;
      background-position: right center;
      margin-bottom: 7px;
    }
  
    .publication__container__checkbox {
      display: none;
    }
  
    .publication__container__checkbox.active {
      display: block;
    }
  
  
  
    .publication__container__checkbox-item.active {
      width: 39%;
      border-bottom: 1px solid #CACACA;
      background: url('../img/Group\ 4.png') no-repeat;
      background-position: right center;
    }
  
  
  
  
  
  
  
  
  
  
  
  }
  
  
  
  
  
  
  
  
  